# Docker Ignore for ATS Backend
**/.git
**/.gitignore
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.db.sqlite3
**/uploads/*
**/generated/*
**/error.log
.env
.env.example
Dockerfile
docker-compose.yml
README.md
tree.txt
